<div *ngFor="let list of lists" class="publication">
    <div class="publisher-section">
        <p>{{list.title}}</p>
        <button (click)="newTask(list._id)" value="{{list.id}}">Añadir Tarea</button>
        <button (click)="deleteList(list.id)">Eliminar Lista</button>
        <div *ngFor="let task of tasks">
            <div *ngIf="list.id === task.list_id">
                <p>{{task.text}}</p>
                <button (click)="deleteTask(task.id)">Borrar la Tarea</button>
            </div>

        </div>
        
        
    </div>
</div>
